<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.mvc.actor.model.dao.ActorMapper">
    <select id="selectOneActorById" resultType="com.ohgiraffers.mvc.actor.model.dto.ActorDTO">
        SELECT
            actor_id,
            first_name,
            last_name,
            last_update
        FROM
            actor
        WHERE
            actor_id = #{ actorId }
    </select>

    <select id="selectAllActor" resultType="com.ohgiraffers.mvc.actor.model.dto.ActorDTO">
        SELECT
        actor_id,
        first_name,
        last_name,
        last_update
        FROM
        actor
        ORDER BY
        actor_id;
    </select>

    <select id="selectAllActorByFilm" resultType="com.ohgiraffers.mvc.actor.model.dto.ActorDTO">
        SELECT
            actor.actor_id,
            actor.first_name,
            actor.last_name,
            actor.last_update,
            film.title
        FROM
            actor
        JOIN
            film_actor ON actor.actor_id = film_actor.actor_id
        JOIN
            film ON film_actor.film_id = film.film_id
        ORDER BY
            actor_id
    </select>

    <insert id="insertActor">
        INSERT
        INTO actor
        (
            first_name,
            last_name,
            last_update
        )
        VALUES
        (
            #{ firstName },
            #{ lastName },
            NOW()
        )
    </insert>

    <update id="updateActor">
        UPDATE
        actor
        SET
        first_name = #{ firstName },
        last_name = #{ lastName }
        WHERE
        actor_id = #{ actorId }
    </update>

    <delete id="deleteActor">
        DELETE
        FROM
        actor
        WHERE
        actor_id = #{ actorId }
    </delete>
</mapper>










